<div class="home">
<center>
    <div class="vertical-space"></div>
     <div class="center-row"></div>
    <h4>Create GitHub Resource Download Link</h4>
    
    
    <div class="vertical-space"></div>
    <div class="col-md-6 center-row">
        <input name="url" type="url" placeholder="GitHub File or Directory Link" class="form-control" ng-model="url" ng-keypress="catchEnter($event)"></input>
    </div>
    <div class="btn-group center-row">
        <button type="button" class="btn btn-primary btn-Material ripple-effect" ng-click="createDownLink()">Create Download Link</button>
        <button type="button" class="btn btn-primary btn-Material ripple-effect" ng-click="download()">Download</button>
    </div>
    
    
    <div ng-show="isProcessing.val">
        <div class="vertical-space"></div>
        <img class="processing-img" src="res/images/processing.gif" />
        <p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
    </div>
    
    
    <div class="col-md-6 center-row" ng-show="downUrl">
        <div class="vertical-space"></div>
        <textarea class="form-control download-link-box" ng-model="downUrl" ></textarea>
    </div>
    
    <div class="vertical-space"></div>
    <div class="footer">
        <a target="_blank" href="https://everything4info.github.io/DownGit">DownGit</a> by <a target="_blank" href="https://i-know-now-plus.blogspot.com/">Iknp</a>
    </div>
    </center>

</div>
<script type='text/javascript'>
//<![CDATA[
!function(h){h(".ripple-effect").click(function(t){var e=h(this);0==e.find(".ink").length&&e.append("<span class='ink'></span>");var i=e.find(".ink");if(i.removeClass("animate"),!i.height()&&!i.width()){var a=Math.max(e.outerWidth(),e.outerHeight());i.css({height:a,width:a})}var n=t.pageX-e.offset().left-i.width()/2,s=t.pageY-e.offset().top-i.height()/2;i.css({top:s+"px",left:n+"px"}).addClass("animate")})}(jQuery); 
//]]>
</script> 
